{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}
    <body class=" login">
    <div class="logo">
        <a href="{{ path('homepage_action') }}">
            <img src="{{ asset('img/logo-big.png') }}" alt="" /> </a>
    </div>
    <div class="content">
        <h3 class="form-title font-green"> Change Password </h3>
        <h3 class="form-title font-dark">{{ app.user.username }}</h3>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.password, 'Old Password', {'label_attr' : {'class' : 'control-label visible-ie8 visible-ie9'}}) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'attr' : {'autocomplete' : 'off', 'class' : 'form-control placeholder-no-fix', 'placeholder' : 'Old Password'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first, 'New Password', {'label_attr' : {'class' : 'control-label visible-ie8 visible-ie9'}}) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {'attr' : {'autocomplete' : 'off', 'class' : 'form-control placeholder-no-fix', 'placeholder' : 'New Password'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second, 'Repeat Password', {'label_attr' : {'class' : 'control-label visible-ie8 visible-ie9'}}) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {'attr' : {'autocomplete' : 'off', 'class' : 'form-control placeholder-no-fix', 'placeholder' : 'Repeat Password'}}) }}
        </div>
        <div class="form-actions">
            <a href="{{ path('homepage_action') }}" type="button" class="btn green btn-outline">Back</a>
            {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-success uppercase pull-right', 'formnovalidate' : ''}}) }}
        </div>
        {{ form_end(form) }}
    </div>
    <div class="copyright"> 2019 © Metronic. Cristian Cojocaru </div>
    </body>
{% endblock %}